#login {
    margin: 100px auto 0;
    max-width: 400px;
}

#login form {
    padding: 20px;
}

.user-role-table tbody tr:first-child {
    border-bottom: none;
}

.brand-logo .logo-text {
    display: inline-block;
    position: relative;
    text-shadow: 1px 1px 20px #333;
}

.logo-icon {
    font-size: 200%;
    opacity: 0.35;
}

.status-infomatic {
    list-style: none;
    margin: 0;
    white-space: nowrap;
}

.status-infomatic li:before {
    content: ' ';
    width: 30px;
    height: 30px;
    background-color: #b0bec5;
    border: 2px solid #546e7a;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -15px;
    border-radius: 50%;
}

.status-infomatic li {
    position: relative;
    width: 100px;
    display: inline-block;
    padding: 0;
    text-align: center;
    vertical-align: top;
    padding-top: 40px;
}