#login {
    margin: 100px auto 0;
    max-width: 400px;
}

#login form {
    padding: 20px;
}

.user-role-table tbody tr:first-child {
    border-bottom: none;
}

.brand-logo .logo-text {
    display: inline-block;
    position: relative;
    text-shadow: 1px 1px 20px #333;
}

.logo-icon {
    font-size: 200%;
    opacity: 0.35;
}

.status-infomatic {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.status-infomatic:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #546e7a;
    display: block;
    top: 15px;
}

.status-infomatic li:after {
    content: ' ';
    width: 30px;
    height: 30px;
    background-color: #b0bec5;
    border: 2px solid #546e7a;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -15px;
    border-radius: 50%;
}

.status-infomatic li {
    position: relative;
    display: block;
    flex: 1;
    /*flex-grow: 1;*/
    list-style-type: none;
    text-align: center;
    vertical-align: top;
    padding-top: 40px;
}

.status-infomatic li.first:before {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    height: 30px;
    width: 50%;
    content: '';
}

.status-infomatic li.last:before {
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    height: 30px;
    width: 50%;
    content: '';
}

.status-infomatic li.empty:after {
    content: initial;
}

.status-infomatic li.current:after {
    background-color: #77dd77;
}

.status-infomatic li.checked:after {
    background-color: #77dd77;
}

.status-infomatic li.stand-alone {
    background-color: white;
}

.toc-wrapper .table-of-contents {
    margin: 0;
    padding: 0;
}
