<div class="row">
    <div class="col s12 m9 l10">
        <% if file_issue.fetch('file_issue_request_id', false) %>
        <div class="row">
            <div class="input-field col s12">
                <a target="_blank" class="btn-small" href="/file-issue-requests/<%= file_issue.fetch('file_issue_request_id') %>">View Request</a>
            </div>
        </div>
        <% end %>

        <div class="row vue-enabled">
            <% if errors %>
                <section id="errors" class="scrollspy section">
                    <pre><%= errors %></pre>
                </section>
            <% end %>
            <section id="status" class="scrollspy section">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <ul class="status-infomatic">
                                <li class="first <% if file_issue.fetch('checklist_submitted', false) %>checked<% end %>">Request<br>Submitted</li>
                                <li class="<% if file_issue.fetch('checklist_retrieval_started', false) %>checked<% end %>">Retrieval<br>Started</li>
                                <li class="<% if file_issue.fetch('checklist_dispatched', false) %>checked<% end %>">Files<br>Dispatched/Uploaded</li>
                                <li class="<% if file_issue.fetch('checklist_summary_sent', false) %>checked<% end %>">File Issue<br>Summary Sent</li>
                                <li class="last <% if file_issue.fetch('checklist_completed', false) %>checked<% end %>">Link Expired/Loan Returned</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <ul class="status-infomatic">
                                <li class="first <% if file_issue.fetch('status', '') == 'INITIATED' %>current<% end %>">File Issue<br>Initiated</li>
                                <li class="<% if file_issue.fetch('status', '') == 'IN_PROGRESS' %>current<% end %>">Retrieval<br>In Progress</li>
                                <li class="<% if file_issue.fetch('status', '') == 'ACTIVE' %>current<% end %>">File Issue<br>Active</li>
                                <li class="empty"></li>
                                <li class="last <% if file_issue.fetch('status', '') == 'COMPLETE' %>current<% end %>">File Issue Complete</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <form id="fileIssueForm" class="col s12" <% if is_readonly %>disabled<% else %>action="/file_issues/update" method="post"<% end %>>
                <%== FormHelper.hidden_authenticity_token %>

                <input type="hidden" name="file_issue[id]" value="<%= file_issue.fetch('id') %>">
                <input type="hidden" name="file_issue[handle_id]" value="<%= file_issue.fetch('handle_id') %>">
                <input type="hidden" name="file_issue[agency_id]" value="<%= file_issue.fetch('agency_id') %>">
                <input type="hidden" name="file_issue[agency_location_id]" value="<%= file_issue.fetch('agency_location_id') %>">

                <section id="items" class="scrollspy section card">
                    <div class="card-content">
                        <table class="representation-linker-table">
                            <thead>
                                <tr>
                                    <th>File Issue<br>Rep ID</th>
                                    <th>Series ID</th>
                                    <th>Record ID</th>
                                    <th>Title</th>
                                    <th>Representation ID</th>
                                    <th>Format</th>
                                    <th>Processing/ Handling Notes</th>
                                    <% if file_issue.fetch('issue_type') == 'DIGITAL' %>
                                        <th>Upload Date</th>
                                        <th>Link to File</th>
                                        <th>Link Expiry Date</th>
                                        <th></th>
                                    <% else %>
                                        <th>Dispatch Date</th>
                                        <th>Loan Expiry Date</th>
                                        <th>Returned Date</th>
                                        <th>Overdue?</th>
                                    <% end %>
                                </tr>
                            </thead>
                            <% file_issue.fetch('items').each do |item| %>
                                <% metadata = resolved_representations.find{|rep| rep['ref'] == item.fetch('record_ref')} %>
                                <tbody class="<% if item.overdue? %>red lighten-5<% end %>">
                                    <tr>
                                        <td><%= file_issue.id_for_display %>-<%= metadata.fetch('representation_id') %></td>
                                        <td><%= metadata.fetch('series_id') %></td>
                                        <td><%= metadata.fetch('record_id') %></td>
                                        <td><%= metadata.fetch('title') %></td>
                                        <td><%= metadata.fetch('representation_id') %></td>
                                        <td><%= metadata.fetch('format') %></td>
                                        <td><%= metadata.fetch('processing_handling_notes', '') %></td>
                                        <% if file_issue.fetch('issue_type') == 'DIGITAL' %>
                                            <td><%= item.fetch('dispatch_date','') %></td>
                                            <td><!-- FIXME add link to file --></td>
                                            <td><%= item.fetch('expiry_date', '') %></td>
                                            <td></td>
                                        <% else %>
                                            <td><%= item.fetch('dispatch_date','') %></td>
                                            <td><%= item.fetch('expiry_date','') %></td>
                                            <td><%= item.fetch('returned_date','') %></td>
                                            <td>
                                                <% if item.overdue? %><span aria-hidden="true" class="red-text text-darken-2"><i class="fa fa-exclamation-triangle"></i></span><% end %>
                                                <%= item.overdue? ? 'Yes' : 'No' %>
                                            </td>
                                        <% end %>
                                    </tr>
                                    <tr>
                                        <td colspan="12">
                                            <div class="input-field">
                                                <textarea type="text" class="materialize-textarea" disabled><%= item.fetch('record_details','') %></textarea>
                                                <label>Record Details</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            <% end %>
                        </table>
                    </div>
                </section>

                <section id="details" class="scrollspy section">
                    <% unless file_issue.new? %>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="file_issue_id" type="text" value="<%= file_issue.id_for_display %>" disabled>
                            <label for="file_issue_id">File Issue ID</label>
                        </div>
                    </div>
                    <% end %>

                    <% unless file_issue.new? %>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="request_id" type="text" value="<%= FileIssueRequest.id_for_display(file_issue.fetch('file_issue_request_id')) %>" disabled>
                            <label for="request_id">Request ID</label>
                        </div>
                    </div>
                    <% end %>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="agency" type="text" value="<%= Ctx.get.current_location.agency.label %>" disabled>
                            <label for="agency">Agency</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="agency_location" type="text" value="<%= Ctx.get.current_location.name %>" disabled>
                            <label for="agency_location">Agency Location</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="request_type" type="text" value="<%= file_issue.fetch('request_type', '') %>" required disabled>
                            <label for="request_type">Request Type</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="issue_type" type="text" value="<%= file_issue.fetch('issue_type', '') %>" required disabled>
                            <label for="issue_type">File Issue Type</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <label>
                                <input name="file_issue[urgent]" value="yes" type="checkbox" <% if file_issue.fetch('urgent', false) %>checked<% end %> disabled />
                                <span>Urgent?</span>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <% if file_issue.fetch('deliver_to_reading_room', false) %>
                                <textarea id="delivery_location" class="materialize-textarea" disabled>Reading Room</textarea> 
                            <% else %>
                                <textarea id="delivery_location" class="materialize-textarea" disabled><%= Ctx.get.current_location.agency.label %>: <%= Ctx.get.current_location.name %></textarea>
                            <% end %>
                            <label for="delivery_location">Delivery Location</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="delivery_authorizer" type="text" name="file_issue_request[delivery_authorizer]" value="<%= file_issue.fetch('delivery_authorizer', '') %>" disabled />
                            <label for="delivery_authorizer">Authorised to Receive Delivery</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="date_completed" type="text" name="file_issue_request[date_completed]" value="<%= file_issue.fetch('date_completed', '') %>" disabled />
                            <label for="date_completed">Date Completed</label>
                        </div>
                    </div>
                </section>
            </form>
        </div>
        <% unless file_issue.new? %>
        <section id="conversation" class="scrollspy section">
            <div class="row vue-enabled">
                <div class="col s12">
                    <conversation handle_id="<%= file_issue.fetch('handle_id') %>"
                                  csrf_token="<%= FormHelper.csrf_token %>"
                                  title="Comments/Discussion">
                    </conversation>
                </div>
            </div>
        </section>
        <% end %>
    </div>
    <div class="col hide-on-small-only m3 l2">
        <div class="toc-wrapper pinned">
            <ul class="section table-of-contents">
                <% if errors %>
                    <li><a href="#errors">Errors</a></li>
                <% end %>
                <li><a href="#status">Status</a></li>
                <li><a href="#items">Items</a></li>
                <li><a href="#details">Details</a></li>
                <li><a href="#conversation">Comments/Discussion</a></li>
            </ul>
        </div>
    </div>
</div>
