<div class="row">
    <div class="col s12 m9 l10">
        <div class="row vue-enabled">
            <% if errors %>
            <section id="errors" class="scroll-spy">
                <%== FormHelper.render_errors(errors) %>
            </section>
            <% end %>
            <section id="status" class="scrollspy section">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <% if request.new? || request.fetch('draft') || request.fetch('items').any?{|item| item.fetch('request_type') == 'DIGITAL'} %>
                                    <span class="card-title">Digital Request Status</span>
                                    <ul class="status-infomatic">
                                        <li class="first <% if request.new? || request.fetch('draft') || request.fetch('status', '') == 'NONE_REQUESTED' %>current<% end %>">Add Request Details</li>
                                        <li class="<% if request.fetch('digital_request_status', '') == 'QUOTE_REQUESTED' %>current<% end %>">Quote Requested</li>
                                        <li class="<% if request.fetch('digital_request_status', '') == 'QUOTE_PROVIDED' %>current<% end %>">Quote Provided</li>
                                        <li class="<% if request.fetch('digital_request_status', '') == 'QUOTE_ACCEPTED' %>current<% end %>">
                                            Quote Accepted
                                            <% if request.fetch('preapprove_quotes', false) %><div><span data-badge-caption="Quote Pre-approved" class="new badge"></span></div><% end %>
                                        </li>
                                        <li class="last <% if request.fetch('digital_request_status', '') == 'FILE_ISSUE_CREATED' %>current<% end %>">File Issue Created</li>
                                        <li class="stand-alone <% if request.fetch('digital_request_status', '') == 'CANCELLED_BY_AGENCY' %>current<% end %>">Cancelled by Agency</li>
                                        <li class="stand-alone <% if request.fetch('digital_request_status', '') == 'CANCELLED_BY_QSA' %>current<% end %>">Cancelled by QSA</li>
                                    </ul>
                                    <% end %>
                                    <% if request.fetch('items').any?{|item| item.fetch('request_type') == 'PHYSICAL'} %>
                                        <span class="card-title">Physical Request Status</span>
                                        <ul class="status-infomatic">
                                            <li class="first <% if request.new? %>current<% end %>">Add Request Details</li>
                                            <li class="<% if request.fetch('physical_request_status', '') == 'QUOTE_REQUESTED' %>current<% end %>">Quote Requested</li>
                                            <li class="<% if request.fetch('physical_request_status', '') == 'QUOTE_PROVIDED' %>current<% end %>">Quote Provided</li>
                                            <li class="<% if request.fetch('physical_request_status', '') == 'QUOTE_ACCEPTED' %>current<% end %>">
                                                Quote Accepted
                                                <% if request.fetch('preapprove_quotes', false) %><div><span data-badge-caption="Quote Pre-approved" class="new badge"></span></div><% end %>
                                            </li>
                                            <li class="last <% if request.fetch('physical_request_status', '') == 'FILE_ISSUE_CREATED' %>current<% end %>">File Issue Created</li>
                                            <li class="stand-alone <% if request.fetch('physical_request_status', '') == 'CANCELLED_BY_AGENCY' %>current<% end %>">Cancelled by Agency</li>
                                            <li class="stand-alone <% if request.fetch('physical_request_status', '') == 'CANCELLED_BY_QSA' %>current<% end %>">Cancelled by QSA</li>
                                        </ul>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <form id="fileIssueForm" class="col s12" <% if is_readonly %>disabled<% else %>action="<%= request.new? ? '/file-issue-requests/create' : '/file-issue-requests/update' %>" method="post"<% end %>>
                <%== FormHelper.hidden_authenticity_token %>
                <%== FormHelper.lock_version(request, 'file_issue_request') %>

                <% unless request.new? %>
                    <input type="hidden" name="file_issue_request[id]" value="<%= request.fetch('id') %>">
                    <input type="hidden" name="file_issue_request[handle_id]" value="<%= request.fetch('handle_id') %>">
                    <input type="hidden" name="file_issue_request[agency_id]" value="<%= request.fetch('agency_id') %>">
                    <input type="hidden" name="file_issue_request[agency_location_id]" value="<%= request.fetch('agency_location_id') %>">
                    <input type="hidden" name="file_issue_request[version]" value="<%= request.fetch('version', 0) %>">
                <% end %>

                <file-issue-form representations="<%= request.fetch('items').to_json %>"
                                 resolved_representations="<%= resolved_representations.to_json %>"
                                 digital_request_status="<%= request.fetch('digital_request_status') %>"
                                 physical_request_status="<%= request.fetch('physical_request_status') %>"
                                 digital_request_quote="<%= digital_request_quote.to_json %>"
                                 physical_request_quote="<%= physical_request_quote.to_json %>"
                                 digital_processing_estimate="<%= request.fetch('digital_processing_estimate', 'Not Provided') %>"
                                 physical_processing_estimate="<%= request.fetch('physical_processing_estimate', 'Not Provided') %>"
                                 digital_file_issue_id="<%= request.fetch('digital_file_issue_id', '') %>"
                                 physical_file_issue_id="<%= request.fetch('physical_file_issue_id', '') %>"
                                 request_id="<%= request.fetch('id', 'new') %>"
                                 lock_version="<%= request.fetch('lock_version', 0) %>"
                                 csrf_token="<%= FormHelper.csrf_token %>"
                                 is_readonly="<%= is_readonly %>">
                    <section id="details" class="scrollspy section">
                        <% unless request.new? %>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="request_id" type="text" value="<%= request.id_for_display %>" disabled>
                                    <label for="request_id">Request ID</label>
                                </div>
                            </div>
                        <% end %>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="agency" type="text" value="<%= Ctx.get.current_location.agency.label %>" disabled>
                                <label for="agency">Agency</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="agency_location" type="text" value="<%= Ctx.get.current_location.name %>" disabled>
                                <label for="agency_location">Agency Location</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <select-with-other-option
                                    input_id="request_type"
                                    input_name="file_issue_request[request_type]"
                                    input_label="Request Type"
                                    options_json="<%= AppConfig[:file_issue_request_types].to_json %>"
                                    current_selection="<%= request.fetch('request_type', '') %>"
                                    is_readonly="<%= is_readonly %>">
                                </select-with-other-option>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <label>
                                        <input name="file_issue_request[urgent]" value="yes" type="checkbox" <% if request.fetch('urgent', false) %>checked<% end %> <% if is_readonly %>disabled<% end %> />
                                        <span>Urgent?</span>
                                        <span class="helper-text">Please be aware fees apply for urgent requests</span>
                                    </label>
                                </div>
                                <br><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="request_notes" name="file_issue_request[request_notes]" class="materialize-textarea" <% if is_readonly %>disabled<% end %>><%= request.fetch('request_notes', '') %></textarea>
                                <label for="request_notes">Notes</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label for="delivery_location">Delivery Location</label>
                                <select id="delivery_location" name="file_issue_request[delivery_location]" class="browser-default" <% if is_readonly %>disabled<% end %> >
                                    <option value="AGENCY_LOCATION" <% if request.fetch('delivery_location', 'AGENCY_LOCATION') == 'AGENCY_LOCATION' %>selected<% end %>><%= Ctx.get.current_location.agency.label %>: <%= Ctx.get.current_location.name %></option>
                                    <option value="READING_ROOM" <% if request.fetch('delivery_location', 'AGENCY_LOCATION') == 'READING_ROOM' %>selected<% end %>>Reading Room</option>
                                    <option value="AGENCY_ARRANGED_COURIER" <% if request.fetch('delivery_location', 'AGENCY_LOCATION') == 'AGENCY_ARRANGED_COURIER' %>selected<% end %>>Agency Arranged Courier</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="delivery_authorizer" type="text" name="file_issue_request[delivery_authorizer]" value="<%= request.fetch('delivery_authorizer', '') %>" <% if is_readonly %>disabled<% end %> />
                                <label for="delivery_authorizer">Person preferred to receive the File Issue</label>
                                <span id="delivery_authorizer_reading_room_note" class="helper-text <% if request.fetch('delivery_location', 'AGENCY_LOCATION') != 'READING_ROOM' %>hide<% end %>">If nominating someone other than the requesting officer to access closed records in the reading room, they must have permission from your agency’s authorised officer</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <label>
                                    <input name="file_issue_request[preapprove_quotes]" value="yes" type="checkbox" <% if request.fetch('preapprove_quotes', false) %>checked<% end %> <% if is_readonly %>disabled<% end %> />
                                    <span>Pre-approve Quotes?</span>
                                </label>
                            </div>
                        </div>
                    </section>
                </file-issue-form>

                <% unless is_readonly %>
                    <section id="actions" class="scrollspy section">
                        <div class="row">
                            <br>
                            <br>
                            <div class="col s12">
                                <% if request.new? || request.fetch('draft') || (request.fetch('digital_request_status') == 'QUOTE_REQUESTED' && request.fetch('physical_request_status') == 'QUOTE_REQUESTED') %>
                                    <button class="btn">Save Request</button>
                                <% else %>
                                    <confirmable-action
                                            target_form_id="fileIssueForm"
                                            css="btn green lighten-2"
                                            label="Save Request"
                                            message="<p>Please be aware saving this request will invalidate any provided quotes.</p><p>Are you sure you want to save this request?</p>">
                                    </confirmable-action>
                                <% end %>
                                <% unless request.new? || request.fetch('draft') %>
                                    <confirmable-action
                                            action="/file-issue-requests/<%= request.fetch('id') %>/cancel?lock_version=<%= request.fetch('lock_version') %>"
                                            csrf_token="<%= FormHelper.csrf_token %>"
                                            css="btn red lighten-2"
                                            label="Cancel Request"
                                            message="Are you sure you want to cancel this request? ">
                                    </confirmable-action>
                                <% end %>
                                <% if request.fetch('draft') %>
                                    <button name="submit_file_issue_request" value="1" class="btn orange">Submit File Issue Request <i class="fa fa-paper-plane"></i></button>
                                <% end %>
                            </div>
                        </div>
                    </section>
                <% end %>
            </form>
        </div>
        <% unless request.fetch('draft') || request.new? %>
        <section id="conversation" class="scrollspy section">
            <div class="row vue-enabled">
                <div class="col s12">
                    <conversation handle_id="<%= request.fetch('handle_id') %>"
                                  csrf_token="<%= FormHelper.csrf_token %>"
                                  title="Comments/Discussion">
                    </conversation>
                </div>
            </div>
        </section>
        <% end %>
    </div>
    <div class="col hide-on-small-only m3 l2">
        <div class="toc-wrapper pinned">
            <ul class="section table-of-contents">
                <% if errors %>
                <li><a href="#errors">Errors</a></li>
                <% end %>
                <li><a href="#status">Status</a></li>
                <li><a href="#details">Details</a></li>
                <li><a href="#digitalRequest">Digital Request Summary</a></li>
                <li><a href="#physicalRequest">Physical Request Summary</a></li>
                <% unless is_readonly %>
                    <li><a href="#actions">Form Actions</a></li>
                <% end %>
                <% unless request.new? %>
                <li><a href="#conversation">Comments/Discussion</a></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
