<nav class="nav-extended">
    <%== Templates.emit(:qgov_header) %>
    <% if Ctx.username %>
        <div class="map-nav grey darken-3">
            <ul class="map-tabs map-nav-left">
                <li class="map-tab"><a href="/" <% if context.include?('home') %> class='active'<% end %>><span class="sr-only">Home</span><i class="fa fa-home" aria-hidden="true" style="font-size:14px;"></i></a></li>
                <% if Ctx.permissions.allow_manage_users? %>
                <li class="map-tab"><a href="/users" <% if context.include?('users') %> class='active'<% end %>>My Users</a></li>
                <% end %>
                <% if Ctx.permissions.allow_manage_locations? %>
                <li class="map-tab"><a href="/locations" <% if context.include?('locations') %> class='active'<% end %>>My Locations</a></li>
                <% end %>
                <% if Ctx.permissions.allow_manage_transfers? %>
                <li class="map-tab"><a href="/transfer-proposals" <% if context.include?('transfers') %> class='active'<% end %>>My Transfers</a></li>
                <% end %>
                <% if Ctx.permissions.allow_manage_file_issues? %>
                <li class="map-tab vue-enabled">
                    <a href="/file-issue-requests" <% if context.include?('file_issues') %> class='active'<% end %>>
                    My File Issues
                    </a>
                    <file-issue-notifications></file-issue-notifications>
                </li>
                <% end %>
            </ul>
            <ul class="map-tabs map-nav-right">
                <% unless Ctx.permissions.is_admin %>
                    <li class="map-tab vue-enabled">
                        <%
                        available_locations = Ctx.get.available_locations
                        current_location = available_locations.find{|loc| loc['agency_id'] == Ctx.get.current_location.agency_id && loc['id'] == Ctx.get.current_location.id}
                        current_agency =  {id: current_location['agency_id'], label: current_location['agency_label']}
                        %>
                        <current-location-selector current_location_json="<%= current_location.to_json %>"
                                                   current_agency_json="<%= current_agency.to_json %>"
                                                   available_locations_json="<%= available_locations.to_json %>"
                                                   csrf_token="<%= FormHelper.csrf_token %>">
                        </current-location-selector>
                    </li>
                <% end %>
                <li class="map-tab">
                    <a id="userMenuTrigger" href="#" data-target="userMenu"><span class="sr-only">User menu</span><i aria-hidden="true" class="fa fa-user" style="font-size:16px;"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <% if context.include?('transfers') %>
            <div class="nav-content grey darken-2">
                <ul class="tabs tabs-transparent">
                    <li class="tab col s3"><a <% if context.include?('transfer_proposals') %>class="active"<% end %> href="/transfer-proposals">Proposals</a></li>
                    <li class="tab col s3"><a <% if context.include?('initiated_transfers') %>class="active"<% end %> href="/transfers">Transfers</a></li>
                </ul>
            </div>
        <% end %>
        <% if context.include?('file_issues') %>
            <div class="nav-content grey darken-2">
                <ul class="tabs tabs-transparent">
                    <li class="tab col s3"><a <% if context.include?('file_issue_requests') %>class="active"<% end %> href="/file-issue-requests">Requests</a></li>
                    <li class="tab col s3"><a <% if context.include?('initiated_file_issues') %>class="active"<% end %> href="/file-issues">File Issues</a></li>
                    <li class="tab col s3"><a <% if context.include?('fee_schedule') %>class="active"<% end %> href="/file-issue-fee-schedule">Fee Schedule</a></li>
                </ul>
            </div>
        <% end %>
    <% end %>
</nav>
<ul id="userMenu" class="dropdown-content grey darken-3 white-text">
    <li><a href="/users/edit?username=<%= URI.escape(Ctx.username) %>" class="white-text">Edit</a></li>
    <li><a href="/logout" class="white-text">Logout (<%= Ctx.username %>)</a></li>
</ul>
<div class="row">
    <div class="col s12">
        <h1><%= title %></h1>
    </div>
</div>
