<nav class="nav-extended">
    <%== Templates.emit(:qgov_header) %>
    <% if Ctx.username %>
        <div class="map-nav grey darken-3">
            <ul class="map-tabs map-nav-left">
                <li class="map-tab"><a href="/" <% if context.include?('home') %> class='active'<% end %>><span class="sr-only">Home</span><i class="fa fa-home" aria-hidden="true" style="font-size:14px;"></i></a></li>
                <% unless context.include?('global') %>
                    <% unless Ctx.permissions.is_admin %>
                        <li class="map-tab"><a href="/records" <% if context.include?('records') %> class='active'<% end %>>My Records</a></li>
                    <% end %>
                    <% if Ctx.permissions.allow_manage_transfers? %>
                        <li class="map-tab"><a href="/transfer-proposals" <% if context.include?('transfers') %> class='active'<% end %>>My Transfers</a></li>
                    <% end %>
                    <% if Ctx.permissions.allow_manage_file_issues? %>
                        <li class="map-tab">
                            <a href="/file-issue-requests" <% if context.include?('file_issues') %> class='active'<% end %>>
                                My File Issues
                            </a>
                        </li>
                        <li class="map-tab">
                            <a href="/reading-room-requests" <% if context.include?('reading_room_requests') %> class='active'<% end %>>
                                My Reading Room Requests
                            </a>
                        </li>
                    <% end %>
                <% end %>
            </ul>
            <ul class="map-tabs map-nav-right">
                <% unless context.include?('global') || Ctx.permissions.is_admin %>
                    <li class="map-tab vue-enabled">
                        <%
                        available_locations = Ctx.get.available_locations
                        current_location = available_locations.find{|loc| loc['agency_id'] == Ctx.get.current_location.agency_id && loc['id'] == Ctx.get.current_location.id}
                        current_agency =  {id: current_location['agency_id'], label: current_location['agency_label']}
                        %>
                        <current-location-selector current_location_json="<%= current_location.to_json %>"
                                                   current_agency_json="<%= current_agency.to_json %>"
                                                   available_locations_json="<%= available_locations.to_json %>"
                                                   csrf_token="<%= FormHelper.csrf_token %>">
                        </current-location-selector>
                    </li>
                <% end %>
                <% if Ctx.permissions.allow_manage_agencies? %>
                <li class="map-tab">
                    <a id="manageMenuTrigger" href="#" data-target="manageMenu" class="menu-dropdown"><span class="sr-only">Manage menu</span><i aria-hidden="true" class="fa fa-wrench" style="font-size:16px;"></i></a>
                </li>
                <% end %>
                <li class="map-tab">
                    <a id="userMenuTrigger" href="#" data-target="userMenu" class="menu-dropdown"><span class="sr-only">User menu</span><i aria-hidden="true" class="fa fa-user" style="font-size:16px;"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <% if context.include?('transfers') %>
            <div class="nav-content grey darken-2">
                <ul class="map-tabs">
                    <li class="map-tab col s3"><a <% if context.include?('transfer_proposals') %>class="active"<% end %> href="/transfer-proposals">Proposals</a></li>
                    <li class="map-tab col s3"><a <% if context.include?('initiated_transfers') %>class="active"<% end %> href="/transfers">Transfers</a></li>
                </ul>
            </div>
        <% end %>
        <% if context.include?('file_issues') %>
            <div class="nav-content grey darken-2">
                <ul class="map-tabs">
                    <li class="map-tab col s3"><a <% if context.include?('file_issue_requests') %>class="active"<% end %> href="/file-issue-requests">Requests</a></li>
                    <li class="map-tab col s3"><a <% if context.include?('initiated_file_issues') %>class="active"<% end %> href="/file-issues">File Issues</a></li>
                    <li class="map-tab col s3"><a <% if context.include?('fee_schedule') %>class="active"<% end %> href="/file-issue-fee-schedule">Fee Schedule</a></li>
                    <li class="map-tab col s3"><a <% if context.include?('file_issue_report') %>class="active"<% end %> href="/file-issue-report">File Issue Report</a></li>
                </ul>
            </div>
        <% end %>
        <% if context.include?('records') %>
        <div class="nav-content grey darken-2">
            <ul class="map-tabs">
                <li class="map-tab col s3"><a <% if context.include?('controlled_records') %>class="active"<% end %> href="/records">Controlled Records</a></li>
                <% if Ctx.permissions.allow_manage_file_issues? %>
                    <li class="map-tab col s3"><a <% if context.include?('search_requests') %>class="active"<% end %> href="/search-requests">Search Requests</a></li>
                    <li class="map-tab col s3"><a <% if context.include?('fee_schedule') %>class="active"<% end %> href="/search-request-fee-schedule">Fee Schedule</a></li>
                <% end %>
            </ul>
        </div>
        <% end %>
    <% end %>
</nav>
<% if Ctx.permissions.allow_manage_agencies? %>
<ul id="manageMenu" class="dropdown-content grey darken-3 white-text">
    <li><a href="/manageable-agencies" class="white-text">Manage Agencies</a></li>
    <% if Ctx.permissions.is_admin? %>
    <li><a href="/system" class="white-text">Manage System</a></li>
    <% end %>
</ul>
<% end %>
<ul id="userMenu" class="dropdown-content grey darken-3 white-text">
    <li class="vue-enabled"><manage-current-user username="<%= Ctx.username %>"></manage-current-user></li>
    <li><a href="/manage-mfa" class="white-text">Manage MFA</a></li>
    <li><a href="/logout" class="white-text">Logout (<%= Ctx.username %>)</a></li>
</ul>
<div class="row">
    <div class="col s12">
        <h1><%= title %></h1>
    </div>
</div>
