<p>Hello, <%= name %>!</p>

<% if agency %>

<h3><%= agency.label %></h3>
<h4><%= location.name %></h4>

    Controlled Records:
    <table>
    <thead>
        <tr>
            <th>Record</th>
            <th>End Date</th>
            <th>URI</th>
        </tr>
    </thead>
    <tbody>
      <% agency.controlled_records.each do |record| %>
        <tr>
            <td><%= record['title'] %></td>
            <td><%= record['end_date'] %></td>
            <td><%= record['id'] %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
<% end %>
