<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">

    </head>
    <body>
        <h2><%= title %></h2>

        <% if message %>
            <%== Templates.emit(:flash_message, message: message) %>
        <% end %>

        <%== Templates.emit(template, template_args) %>

        <script type="text/javascript" src="/js/vue.min.js"></script>
        <script type="text/javascript" src="/js/vue-resource-1.5.1.js"></script>
        <script type="text/javascript" src="/js/materialize.min.js"></script>

        <script data-main="/js/main" src="js/require.js"></script>
    </body>
</html>
