<div class="row vue-enabled">
    <% if errors %>
        <pre><%= errors %></pre>
    <% end %>
    <% form_action = "/locations/" + (location.new? ? "create" : "update") %>
    <form class="col s12" action="<%= form_action %>" method="post">
        <%== FormHelper.hidden_authenticity_token %>

        <% unless location.new? %>
            <input type="hidden" name="location[id]" value="<%= location.fetch('id') %>">
        <% end %>

        <% if Ctx.permissions.is_admin? %>
            <div class="row">
                <% if location.new? %>
                    <agency-linker agency_ref="<%= location.fetch('agency_ref', nil) %>" agency_label="<%= location.fetch('agency_label', nil) %>"></agency-linker>
                <% else %>
                    <div class="col s12">
                        <%= location.fetch('agency_label') %>
                        <input type="hidden" name="location[agency_ref]" value="<%= location.fetch('agency_ref') %>">
                        <input type="hidden" name="location[agency_label]" value="<%= location.fetch('agency_label') %>">
                    </div>
                <% end %>
            </div>
        <% end %>
        <div class="row">
            <div class="input-field col s12">
                <input id="name" name="location[name]" type="text" value="<%= location.fetch('name', '') %>" required>
                <label for="name">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="delivery_address" name="location[delivery_address]" class="materialize-textarea"><%= location.fetch('delivery_address', '') %></textarea>
                <label for="delivery_address">Delivery Address</label>
            </div>
        </div>
        <div class="row">
            <br>
            <br>
            <div class="col s12">
                <button class="btn">Save Location</button>
            </div>
        </div>
    </form>
</div>
