<div class="row vue-enabled">
    <% if errors %>
        <pre><%= errors %></pre>
    <% end %>
    <form class="col s12" action="/locations/create" method="post">
        <%== FormHelper.hidden_authenticity_token %>
        <div class="row">
            <% if Ctx.permissions.is_admin? %>
                <agency-linker agency_ref="<%= location.fetch('agency_ref', nil) %>" agency_label="<%= location.fetch('agency_label', nil) %>"></agency-linker>
            <% end %>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="name" name="location[name]" type="text" value="<%= location.fetch('name', '') %>" required>
                <label for="name">Name</label>
            </div>
        </div>
        <div class="row">
            <br>
            <br>
            <div class="col s12">
                <button class="btn">Save Location</button>
            </div>
        </div>
    </form>
</div>
