<div id="login">
    <div class="container">
        <div class="row">
            <div class="z-depth-3 y-depth-3 x-depth-3 grey lighten-4 row">
                <form action="authenticate" method="post">
                    <%== FormHelper.hidden_authenticity_token %>

                    <%== Templates.emit(:generic_messages, message_code: message_code) %>

                    <% if message %>
                        <div class="row">
                            <% if delay_seconds && delay_seconds > 0 %>
                                <div class="red-text col s12">
                                    You have reached your maximum number of failed login attempts.  Please wait <%= delay_seconds %> seconds before trying again.
                                </div>
                            <% else %>
                                <div class="red-text col s12">
                                    <%= message %>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="username" id="username" value="<%= username %>">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" name="password" id="password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col s12">
                            <button type="submit" class="col s12 btn btn-large waves-effect">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
