<div class="vue-enabled">
    <manage-system></manage-system>
            <form method="POST" action="/alerts">
                <%== FormHelper.hidden_authenticity_token %>
                
                <label for="alert_name">Alert Type</label>
                <input type="text-area" name="alert_name" id="alert_name" value="" />

                <label for="message">Alert Type</label>
                <input type="text-area" name="message" id="message" />

                <input class="btn" type="submit"/>
            </form>
</div>
