<div class="vue-enabled">
    <manage-system></manage-system>
    <h4>Create a login alert</h4>
    <p>Eg. Update any users of future outages on login page</p>
            <form method="POST" action="/alerts">
                <%== FormHelper.hidden_authenticity_token %>
            
                <input type="hidden" name="alert_name" id="alert_name" value="login-alert" />

                <label for="message">Alert Message</label>
                <input type="text-area" name="message" id="message" />

                <input class="btn" type="submit"/>
            </form>

               <form method="POST" action="/alerts/delete">
                <%== FormHelper.hidden_authenticity_token %>
                <input type="hidden" name="alert_name" id="alert_name" value="login-alert" />
                <input class="btn" type="submit"/>
            </form>
</div>
