<div id="mfa">
    <div class="container">
        <div class="row">
            <div class="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row">
                <form action="mfa-validate" method="post">
                    <%== FormHelper.hidden_authenticity_token %>
                    <% if message %>
                    <div class="row">
                        <div class="red-text col s12">
                            <%= message %>
                        </div>
                    </div>
                    <% end %>
                    <div class="row">
                        Please Verify
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="authcode">MFA Code</label>
                            <input type="text" name="authcode" id="authcode">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col s12">
                            <button type="submit" class="col s12 btn btn-large waves-effect">Validate</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('#authcode').forEach((elt) => { elt.focus() });
</script>
