<div class="row">
    <div class="col s12">
        <a class="btn waves-effect" href="/search-requests/new">Create Search Request</a>
    </div>
</div>

<div class="vue-enabled">
    <search-requests-search status="<%= status %>"
                            :status_options="<%= SearchRequest::STATUS_OPTIONS.to_json %>"
                            sort="<%= sort %>">
    </search-requests-search>
</div>

<div class="row vue-enabled">
    <div class="col s12">
        <table class="highlight">
            <thead>
            <tr>
                <th style="width:5%">ID</th>
                <th style="width:15%">Status</th>
                <th style="width:30%">Details</th>
                <th style="width:10%">Created By</th>
                <th style="width:20%">Date Created</th>
                <th style="width:20%"></th>
            </tr>
            </thead>
            <tbody>
            <% paged_results.results.each do |search_request| %>
            <tr>
                <td><%= search_request.id_for_display %></td>
                <td><%= search_request.fetch('status') %></td>
                <td>
                    <%= search_request.fetch('details').length > 100 ? "#{search_request.fetch('details') [0...100]}..." : search_request.fetch('details') %>
                </td>
                <td><%= search_request.fetch('created_by') %></td>
                <td><%= Time.at(search_request.fetch('create_time') / 1000)%></td>
                <td>
                    <a class="btn" href="/search-requests/<%= search_request.fetch('id') %>">View</a>
                    <% if search_request.can_be_cancelled? %>
                        <confirmable-action action="/search-requests/<%= search_request.fetch('id') %>/cancel?lock_version=<%= search_request.fetch('lock_version') %>"
                                            csrf_token="<%= FormHelper.csrf_token %>"
                                            css="btn red lighten-2"
                                            label="Cancel"
                                            message="Are you sure you want to cancel this search request?">
                        </confirmable-action>
                    <% end %>
                </td>
            </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col s12 center-align">
        <% if paged_results.current_page > 0 %><a href="?<%= URLHelper.merge_params(params, {'page' => paged_results.current_page - 1}) %>"><i class="fa fa-chevron-left"></i> Previous</a><% end %>
        <% if paged_results.current_page < paged_results.max_page - 1 %><a href="?<%= URLHelper.merge_params(params, {'page' => paged_results.current_page + 1}) %>">Next <i class="fa fa-chevron-right"></i></a><% end %>
    </div>
</div>
