<h1>Reset your password</h1>

<div class="row">

    <div class="col s12">
        <% if msg == 'password_mismatch' %>
            <div class="card-panel red lighten-4">
                <p>The passwords you entered did not match.  Please try again.</p>
            </div>
        <% end %>

        <% if msg == 'password_too_weak' %>
            <div class="card-panel red lighten-4">
                <p>Password must be at least 12 characters in length, contain both upper and lower case letters, and at least one non-letter (numeral, space or punctuation)</p>
            </div>
        <% end %>


        <p>Enter your username below.  We will send a password reset email to the address we have on record.</p>

        <form method="POST" action="/set-new-password">
            <%== FormHelper.hidden_authenticity_token %>

            <input type="hidden" name="token" value="<%= token %>">

            <div class="row">
                <div class="col s12">
                    <label>
                        <input type="password" name="new_password" required>
                        <span>Password</span>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <label>
                        <input type="password" name="new_password_confirm" required>
                        <span>Password (confirm)</span>
                    </label>
                </div>
            </div>

            <button class="btn" type="submit">Set password</button>
        </form>
    </div>

</div>
