<div class="row">
    <div class="col s12 m9 l10">
        <% if transfer.fetch('transfer_proposal_id') %>
            <div class="row">
                <div class="input-field col s12">
                    <a target="_blank" class="btn-small" href="/transfer-proposals/<%= transfer.fetch('transfer_proposal_id') %>">View Transfer Proposal</a>

                </div>
            </div>
        <% end %>

        <div class="row vue-enabled">
            <% if errors %>
                <section id="errors" class="scrollspy section">
                    <%== FormHelper.render_errors(errors) %>
                </section>
            <% end %>
            <section id="status" class="scrollspy section">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <ul class="status-infomatic">
                                <li class="first <% if transfer.fetch('checklist_transfer_proposal_approved', false) %>checked<% end %>">Transfer Proposal Approved</li>
                                <li class="<% if transfer.fetch('checklist_metadata_received', false) %>checked<% end %>">Metadata Received</li>
                                <li class="<% if transfer.fetch('checklist_rap_received', false) %>checked<% end %>">RAP Notice Received/<br>Exempt</li>
                                <li class="<% if transfer.fetch('checklist_metadata_approved', false) %>checked<% end %>">Metadata Approved</li>
                                <li class="<% if transfer.fetch('checklist_transfer_received', false) %>checked<% end %>">Transfer Received</li>
                                <li class="<% if transfer.fetch('checklist_metadata_imported', false) %>checked<% end %>">Metadata Imported</li>
                                <li class="last <% if transfer.fetch('checklist_transfer_completed', false) %>checked<% end %>">Transfer Completed</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <ul class="status-infomatic">
                                <li class="first <% if transfer.fetch('status', '') == 'TRANSFER_PROCESS_INITIATED' %>current<% end %>">Transfer Process Initiated</li>
                                <li class="empty"></li>
                                <li class="<% if transfer.fetch('status', '') == 'TRANSFER_PROCESS_PENDING' %>current<% end %>">Pending</li>
                                <li class="empty"></li>
                                <li class="<% if transfer.fetch('status', '') == 'TRANSFER_PROCESS_IN_PROGRESS' %>current<% end %>">In Progress</li>
                                <li class="empty"></li>
                                <li class="last <% if transfer.fetch('status', '') == 'TRANSFER_PROCESS_COMPLETE' %>current<% end %>">Complete</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <form id="transferProposalForm" class="col s12" <% if is_readonly %>disabled<% else %>action="/transfers/update" method="post"<% end %>>
                <%== FormHelper.hidden_authenticity_token %>
                <%== FormHelper.lock_version(transfer, 'transfer') %>

                <input type="hidden" name="transfer[id]" value="<%= transfer.fetch('id') %>">
                <input type="hidden" name="transfer[handle_id]" value="<%= transfer.fetch('handle_id') %>">
                <input type="hidden" name="transfer[agency_id]" value="<%= transfer.fetch('agency_id') %>">
                <input type="hidden" name="transfer[agency_location_id]" value="<%= transfer.fetch('agency_location_id') %>">

                <section id="details" class="scrollspy section">
                    <% unless transfer.new? %>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="proposal_id" type="text" value="<%= transfer.id_for_display %>" disabled>
                                <label for="proposal_id">Transfer ID</label>
                            </div>
                        </div>
                    <% end %>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="agency" type="text" value="<%= Ctx.get.current_location.agency.label %>" disabled>
                            <label for="agency">Agency</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="agency_location" type="text" value="<%= Ctx.get.current_location.name %>" disabled>
                            <label for="agency_location">Agency Location</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="title" type="text" value="<%= transfer.fetch('title', '') %>" required disabled>
                            <label for="title">Title</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="date_scheduled" type="text" value="<%= transfer.fetch('date_scheduled', '') %>" required disabled>
                            <label for="date_scheduled">Scheduled Date</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="date_received" type="text" value="<%= transfer.fetch('date_received', '') %>" required disabled>
                            <label for="date_received">Transfer Received Date</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="quantity_received" type="text" value="<%= transfer.fetch('quantity_received', '') %>" required disabled>
                            <label for="quantity_received">Quantity Received</label>
                        </div>
                    </div>
                </section>

                <div class="row right">
                    <a href="/transfers/template">Download Transfer Metadata Template</a>
                </div>

                <%
                locked_file_roles = []
                locked_file_roles << 'RAP' if transfer.fetch('checklist_rap_received', false)
                locked_file_roles << 'IMPORT' if (transfer.fetch('checklist_metadata_received', false) || transfer.fetch('checklist_metadata_approved', false))
                %>

                <section id="files" class="scrollspy section">
                    <div class="row">
                        <div class="col s12">
                            <file-uploader files="<%= transfer.fetch('files', []).to_json %>"
                                           input_path="transfer[files][]"
                                           locked_file_roles="<%= locked_file_roles.to_json %>"
                                           readonly="<%= is_readonly %>"
                                           role="enabled"
                                           v-bind:submit_button_ids="['save_transfer_btn']"
                                           csrf_token="<%= FormHelper.csrf_token %>">
                            </file-uploader>
                        </div>
                    </div>
                </section>

                <% unless is_readonly %>
                    <section id="actions" class="scrollspy section">
                        <div class="row">
                            <br>
                            <br>
                            <div class="col s12">
                                <button id="save_transfer_btn" class="btn">Save Transfer</button>
                            </div>
                        </div>
                    </section>
                <% end %>
            </form>
        </div>
        <% unless transfer.new? %>
        <section id="conversation" class="scrollspy section">
            <div class="row vue-enabled">
                <div class="col s12">
                    <conversation handle_id="<%= transfer.fetch('handle_id') %>"
                                  csrf_token="<%= FormHelper.csrf_token %>"
                                  title="Comments/Discussion">
                    </conversation>
                </div>
            </div>
        </section>
        <% end %>
    </div>
    <div class="col hide-on-small-only m3 l2">
        <div class="toc-wrapper pinned">
            <ul class="section table-of-contents">
                <% if errors %>
                    <li><a href="#errors">Errors</a></li>
                <% end %>
                <li><a href="#status">Status</a></li>
                <li><a href="#details">Details</a></li>
                <li><a href="#files">Files</a></li>
                <% unless is_readonly %>
                    <li><a href="#actions">Form Actions</a></li>
                <% end %>
                <li><a href="#conversation">Comments/Discussion</a></li>
            </ul>
        </div>
    </div>
</div>
