<div class="row">
    <div class="col s12">
        <a class="btn waves-effect" href="/transfer_proposals/new">Create Transfer Proposal</a>
    </div>
</div>

<div class="row vue-enabled">
    <div class="col s12">
        <table class="highlight responsive-table">
            <thead>
            <tr>
                <th style="width:50%">Transfer Title</th>
                <th style="width:10%">Status</th>
                <th style="width:10%">Created By</th>
                <th style="width:10%">Date Created</th>
                <th style="width:20%"></th>
            </tr>
            </thead>
            <tbody>
            <% paged_results.results.each do |transfer| %>
            <tr>
                <td><%= transfer.fetch('title') %></td>
                <td><%= transfer.fetch('status') %></td>
                <td><%= transfer.fetch('created_by') %></td>
                <td><%= Time.at(transfer.fetch('create_time') / 1000)%></td>
                <td>
                    <a class="btn" href="/transfer_proposals/<%= transfer.fetch('id') %>">View</a>
                    <% if transfer.fetch('status') == 'ACTIVE' %>
                        <confirmable-action action="/transfer_proposals/<%= transfer.fetch('id') %>/cancel"
                                            csrf_token="<%= FormHelper.csrf_token %>"
                                            css="btn red lighten-2"
                                            label="Cancel"
                                            message="Are you sure you want to cancel this transfer proposal?">
                        </confirmable-action>
                    <% end %>
                </td>
            </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col s12 center-align">
        <% if paged_results.current_page > 0 %><a href="?page=<%= paged_results.current_page - 1 %>"><i class="fa fa-chevron-left"></i> Previous</a><% end %>
        <% if paged_results.current_page < paged_results.max_page - 1 %><a href="?page=<%= paged_results.current_page + 1 %>">Next <i class="fa fa-chevron-right"></i></a><% end %>
    </div>
</div>
