<div class="row vue-enabled">
    <% if errors %>
    <pre><%= errors %></pre>
    <% end %>
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <ul class="status-infomatic">
                    <li class="first <% if transfer.new? %>current<% end %>">Inactive</li>
                    <li class="<% if transfer.fetch('status', '') == 'ACTIVE' %>current<% end %>">Active</li>
                    <li class="last <% if transfer.fetch('status', '') == 'APPROVED' %>current<% end %>">Approved</li>
                    <li class="stand-alone <% if transfer.fetch('status', '') == 'CANCELLED_BY_AGENCY' %>current<% end %>">Cancelled<br>By User</li>
                    <li class="stand-alone <% if transfer.fetch('status', '') == 'CANCELLED_BY_QSA' %>current<% end %>">Cancelled<br>By QSA</li>
                </ul>
            </div>
        </div>
    </div>
    <form id="transferProposalForm" class="col s12" <% if is_readonly %>disabled<% else %>action="<%= transfer.new? ? '/transfer_proposals/create' : '/transfer_proposals/update' %>" method="post" enctype="multipart/form-data"<% end %>>
        <%== FormHelper.hidden_authenticity_token %>

        <% unless transfer.new? %>
            <input type="hidden" name="transfer[id]" value="<%= transfer.fetch('id') %>">
        <% end %>

        <div class="row">
            <div class="input-field col s12">
                <input id="title" name="transfer[title]" type="text" value="<%= transfer.fetch('title', '') %>" required <% if is_readonly %>disabled<% end %>>
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <file-uploader files="<%= transfer.fetch('files', []).to_json %>"
                               input_path="transfer[files][]"
                               readonly="<%= is_readonly %>"
                               csrf_token="<%= FormHelper.csrf_token %>">
                </file-uploader>
            </div>
        </div>

        <transfer-proposal-series readonly="<%= is_readonly %>"
                                  existing_metadata="<%=  transfer.fetch('series', []).to_json %>">
        </transfer-proposal-series>

        <div class="row">
            <div class="input-field col s12">
                <input id="estimated_quantity" name="transfer[estimated_quantity]" type="text" value="<%= transfer.fetch('estimated_quantity', '') %>" <% if is_readonly %>disabled<% end %>>
                <label for="estimated_quantity">Estimated Quantity</label>
            </div>
        </div>

        <% unless is_readonly %>
            <div class="row">
                <br>
                <br>
                <div class="col s12">
                    <button class="btn">Save Transfer</button>
                </div>
            </div>
        <% end %>
    </form>
</div>
<% unless transfer.new? %>
    <div class="row vue-enabled">
        <div class="col s12">
            <conversation record_type="transfer"
                          id="<%= transfer.fetch('transfer_identifier') %>"
                          csrf_token="<%= FormHelper.csrf_token %>">
            </conversation>
        </div>
    </div>
<% end %>