<div class="row vue-enabled">
    <% if errors %>
        <%== FormHelper.render_errors(errors) %>
    <% end %>
    <form class="col s12" action='/users/<%= user.new? ? "create" : "update/#{user.fetch('id')}" %>' method="post">
        <%== FormHelper.hidden_authenticity_token %>
        <%== FormHelper.lock_version(user, 'user') %>

        <input type="hidden" name="user[is_admin]" value="<%= user.fetch('is_admin', false) %>">

        <% unless user.new? %>
            <input type="hidden" name="user[id]" value="<%= user.fetch('id') %>">
            <input type="hidden" name="user[username]" value="<%= user.fetch('username') %>">
        <% end %>
        <% disable_user_name = !user.new? && (user.fetch('username') == Ctx.username || !Ctx.get.permissions.is_admin?) %>
        <div class="row">
            <div class="input-field col s12">
                <input id="username" name="user[username]" type="text" value="<%= user.fetch('username', '') %>" <% if disable_user_name %>disabled<% end %> autocomplete="off">
                <label class="active" for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 required">
                <input id="name" name="user[name]" type="text" value="<%= user.fetch('name', '') %>" autocomplete="off">
                <label class="active" for="name">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" name="user[password]" type="password" <% if user.new? %>required<% else %>placeholder="************"<% end %> autocomplete="new-password">
                <label class="active" for="password">Password</label>
                <span class="helper-text">
                    Must be at least 12 characters in length; Include both upper and lower case letters; Include at least one non-letter (numeral, space or punctuation)
                </span>
            </div>
        </div>

        <% readonly_email = !Ctx.get.permissions.allow_manage_agencies? %>
        <div class="row">
            <div class="input-field col s12 required">
                <input id="email" name="user[email]" type="text" value="<%= user.fetch('email', '') %>" <% if readonly_email %>readonly<% end %> autocomplete="off">
                <label class="active" for="email">Email</label>
                <% if readonly_email %><span class="helper-text">Please contact your agency administrator if your email is incorrect</span><% end %>
            </div>
        </div>

        <% if !user.new? && Ctx.username != user.fetch('username') %>
            <div class="row">
                <div class="input-field col s12">
                    <label>
                        <input type="checkbox" name="user[is_inactive]" value="true" <% if user.fetch('is_inactive') %> checked="checked" <% end %> />
                        <span>Inactive?</span>
                    </label>
                </div>
            </div>
        <% end %>

        <div class="row">
            <br>
            <br>
            <div class="col s12">
                <button class="btn">Save User</button>
            </div>
        </div>
    </form>
</div>
