<div class="row vue-enabled">
    <% if errors %>
        <%== FormHelper.render_errors(errors) %>
    <% end %>
    <form class="col s12" action='/users/<%= user.new? ? "create" : "update/#{user.fetch('id')}" %>' method="post">
        <%== FormHelper.hidden_authenticity_token %>
        <%== FormHelper.lock_version(user, 'user') %>

        <input type="hidden" name="user[is_admin]" value="<%= user.fetch('is_admin', false) %>">

        <% unless user.new? %>
            <input type="hidden" name="user[id]" value="<%= user.fetch('id') %>">
            <input type="hidden" name="user[username]" value="<%= user.fetch('username') %>">
        <% end %>
        <% disable_user_name = !user.new? && (user.fetch('username') == Ctx.username || !Ctx.get.permissions.is_admin?) %>
        <div class="row">
            <div class="input-field col s12">
                <input id="username" name="user[username]" type="text" value="<%= user.fetch('username', '') %>" <% if disable_user_name %>disabled<% end %>>
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="name" name="user[name]" type="text" value="<%= user.fetch('name', '') %>">
                <label for="name">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" name="user[password]" type="password" <% if user.new? %>required<% else %>placeholder="************"<% end %>>
                <label for="password">Password</label>
            </div>
        </div>

        <% if user.fetch('is_admin', false) && !user.new? && Ctx.username != user.fetch('username') %>
            <div class="row">
                <div class="input-field col s12">
                    <label>
                        <input type="checkbox" name="user[is_inactive]" value="true" <% if user.fetch('is_inactive') %> checked="checked" <% end %> />
                        <span>Inactive?</span>
                    </label>
                </div>
            </div>
        <% end %>

        <div class="row">
            <br>
            <br>
            <div class="col s12">
                <button class="btn">Save User</button>
            </div>
        </div>
    </form>
</div>
